

.detail-row {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin-left: 5rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
    position: relative;
    
    
    justify-content: center;
    align-content: center;
}

.bold{
    font-weight: bold;
    font-size: larger;
}
.itemCount{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: auto;
    padding: 1rem;
}